In [1]:
import copy
import os
import time
import random
import sys
import warnings

import numpy as np
import pandas as pd
from typing import Any


from hyperimpute.plugins.imputers import Imputers
from hyperimpute.utils.distributions import enable_reproducible_results
import hyperimpute.logger as log

from benchmark_imputation import evaluate_dataset_repeated_internal

from IPython.display import HTML, display
import tabulate

warnings.filterwarnings('ignore')
enable_reproducible_results()

imputers = Imputers()
log.add(sink=sys.stderr, level="INFO")

In [2]:
def get_imputer():
    return Imputers().get("hyperimpute", 
        optimizer = "bayesian"
    )


def evaluate_dataset_repeated(
    name,
    X_raw,
    y,
    ref_methods=["mean", "missforest", "ice", "gain", "sinkhorn", "softimpute"],
    scenarios=["MNAR"],
    miss_pct=[0.1, 0.3, 0.5, 0.7],
    n_iter=2,
    debug=False,
):
    return evaluate_dataset_repeated_internal(
        name = name,
        evaluated_model = get_imputer(),
        X_raw = X_raw,
        y = y,
        ref_methods=ref_methods,
        scenarios=scenarios,
        miss_pct=miss_pct,
        n_iter=n_iter,
        debug=debug,
    )

## Sanity check in  debug mode

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00291/airfoil_self_noise.dat', header = None, sep ="\\t")

y = df[5]
X_raw = df.drop(columns = [5])

evaluate_dataset_repeated("airfoil", X_raw, y,        
            scenarios =  ["MNAR"],      
            ref_methods=["mean"],
            debug = True,
            n_iter = 2,
            miss_pct = [0.3, 0.5]
)

[2021-12-29T22:42:40.747224+0200][1230602][INFO]   > BO iter 0

> evaluation trial  0
  > eval  MNAR 0.3

[2021-12-29T22:42:45.771979+0200][1230602][INFO]      >>> Column 0 <-- score -0.021701651773402764 <-- Model random_forest_regressor({'criterion': 0, 'max_features': 0, 'min_samples_split': 10, 'min_samples_leaf': 10})
[2021-12-29T22:42:51.981005+0200][1230602][INFO]      >>> Column 1 <-- score -0.020823876426386972 <-- Model xgboost_regressor({'max_depth': 3, 'lr': 0.01})
[2021-12-29T22:43:06.300874+0200][1230602][INFO]      >>> Column 2 <-- score 0.9620216308366576 <-- Model catboost({'depth': 4, 'grow_policy': 2})
[2021-12-29T22:43:13.925942+0200][1230602][INFO]      >>> Column 3 <-- score 0.8665721111778001 <-- Model catboost({'depth': 5, 'grow_policy': 2})
[2021-12-29T22:43:18.752967+0200][1230602][INFO]      >>> Column 4 <-- score -0.014874342577024567 <-- Model catboost_regressor({'depth': 4, 'grow_policy': 2})
[2021-12-29T22:43:49.796798+0200][1230602][INFO]   > BO iter 1
[2021-12-29T22:43:54.901244+0200][1230602][INFO]      >>> Column 3 <-- score 0.9519096474239254 <-- Model catboost({})
[2021-12-29T22:43:57.680323+0200][1230602][INFO]      >>> Column 4 <-- score -2.7812994164255585e-05 <-- Model xgboost_regressor({'max_depth': 6, 'lr': 0.01})
[2021-12-29T22:44:06.136052+0200][1230602][INFO]      >>> Column 2 <-- score 0.9990914519701851 <-- Model catboost({})
[2021-12-29T22:44:09.540120+0200][1230602][INFO]      >>> Column 1 <-- score -0.00015687858128614408 <-- Model xgboost_regressor({'max_depth': 4, 'lr': 0.01})
[2021-12-29T22:44:13.517185+0200][1230602][INFO]      >>> Column 0 <-- score -0.021597457209901545 <-- Model random_forest_regressor({'criterion': 0, 'max_features': 2, 'min_samples_split': 10, 'min_samples_leaf': 10})
[2021-12-29T22:44:45.086076+0200][1230602][INFO]   > BO iter 2
[2021-12-29T22:44:48.320901+0200][1230602][INFO]      >>> Column 3 <-- score 0.9791805178047492 <-- Model catboost({})
[2021-12-29T22:44:50.651532+0200][1230602][INFO]      >>> Column 0 <-- score -0.021597457209901545 <-- Model random_forest_regressor({'criterion': 0, 'max_features': 2, 'min_samples_split': 10, 'min_samples_leaf': 10})
[2021-12-29T22:44:58.154757+0200][1230602][INFO]      >>> Column 2 <-- score 0.9999658033896942 <-- Model catboost({})
[2021-12-29T22:44:59.648482+0200][1230602][INFO]      >>> Column 1 <-- score -5.446828779713968e-05 <-- Model xgboost_regressor({})
[2021-12-29T22:45:02.259687+0200][1230602][INFO]      >>> Column 4 <-- score -2.7812994164255585e-05 <-- Model xgboost_regressor({'max_depth': 6, 'lr': 0.01})
[2021-12-29T22:45:33.351440+0200][1230602][INFO]   > BO iter 3
[2021-12-29T22:45:35.246190+0200][1230602][INFO]      >>> Column 4 <-- score -2.3174716332509252e-05 <-- Model xgboost_regressor({})
[2021-12-29T22:45:37.710937+0200][1230602][INFO]      >>> Column 0 <-- score -0.021431061124404915 <-- Model random_forest_regressor({'criterion': 0, 'max_features': 1, 'min_samples_split': 10, 'min_samples_leaf': 2})
[2021-12-29T22:45:39.736736+0200][1230602][INFO]      >>> Column 1 <-- score -2.0863347919092885e-05 <-- Model xgboost_regressor({'max_depth': 4, 'lr': 0.1})
[2021-12-29T22:45:44.058543+0200][1230602][INFO]      >>> Column 2 <-- score 0.9999658033896942 <-- Model catboost({})
[2021-12-29T22:45:52.593191+0200][1230602][INFO]      >>> Column 3 <-- score 0.9850709310031301 <-- Model catboost({})
[2021-12-29T22:46:23.908775+0200][1230602][INFO]   > BO iter 4
[2021-12-29T22:46:25.300030+0200][1230602][INFO]      >>> Column 1 <-- score -2.0863347919092885e-05 <-- Model xgboost_regressor({'max_depth': 4, 'lr': 0.1})
[2021-12-29T22:46:27.324785+0200][1230602][INFO]      >>> Column 4 <-- score -2.3174716332509252e-05 <-- Model xgboost_regressor({})
[2021-12-29T22:46:37.257702+0200][1230602][INFO]      >>> Column 3 <-- score 0.9850709310031301 <-- Model catboost({})
[2021-12-29T22:46:38.979265+0200][1230602][INFO]      >>> Column 0 <-- score -0.021431061124404915 <-- Model random_forest_regressor({'criterion': 0, 'max_features': 1, 'min_samples_split': 10, 'min_samples_leaf': 2})
[2021-12-29T22:46:42.517182+0200][1230602][INFO]      >>> Column 2 <-- score 0.9999658033896942 <-- Model catboost({})
[2021-12-29T22:47:14.105261+0200][1230602][INFO]   > BO iter 0

  > eval  MNAR 0.5

[2021-12-29T22:47:18.126475+0200][1230602][INFO]      >>> Column 0 <-- score -0.027050020255943358 <-- Model random_forest_regressor({'criterion': 0, 'max_features': 1, 'min_samples_split': 2, 'min_samples_leaf': 2})
[2021-12-29T22:47:22.407588+0200][1230602][INFO]      >>> Column 1 <-- score -0.027427547197500127 <-- Model xgboost_regressor({'max_depth': 3, 'lr': 0.01})
[2021-12-29T22:47:39.102746+0200][1230602][INFO]      >>> Column 2 <-- score 0.8835116078761293 <-- Model catboost({'depth': 4, 'grow_policy': 2})
[2021-12-29T22:47:47.241784+0200][1230602][INFO]      >>> Column 3 <-- score 0.6665841393972116 <-- Model catboost({'depth': 6, 'grow_policy': 2})
[2021-12-29T22:47:51.113107+0200][1230602][INFO]      >>> Column 4 <-- score -0.026836283728656273 <-- Model catboost_regressor({'depth': 5, 'grow_policy': 1})
[2021-12-29T22:48:20.659333+0200][1230602][INFO]   > BO iter 1
[2021-12-29T22:48:35.303550+0200][1230602][INFO]      >>> Column 2 <-- score 0.9977014602487831 <-- Model catboost({'depth': 7, 'grow_policy': 0})
[2021-12-29T22:48:39.250644+0200][1230602][INFO]      >>> Column 1 <-- score -0.0001983275133850136 <-- Model xgboost_regressor({'max_depth': 7, 'lr': 0.1})
[2021-12-29T22:48:44.836199+0200][1230602][INFO]      >>> Column 3 <-- score 0.8922946351471572 <-- Model catboost({})
[2021-12-29T22:48:47.338959+0200][1230602][INFO]      >>> Column 4 <-- score -0.0004146830184037355 <-- Model xgboost_regressor({})
[2021-12-29T22:48:51.927626+0200][1230602][INFO]      >>> Column 0 <-- score -0.01969360163152511 <-- Model catboost_regressor({'depth': 6, 'grow_policy': 1})
[2021-12-29T22:49:34.477862+0200][1230602][INFO]   > BO iter 2
[2021-12-29T22:49:41.032801+0200][1230602][INFO]      >>> Column 2 <-- score 0.999507241151373 <-- Model catboost({})
[2021-12-29T22:49:43.405453+0200][1230602][INFO]      >>> Column 4 <-- score -0.00024720693030946236 <-- Model xgboost_regressor({})
[2021-12-29T22:49:45.457600+0200][1230602][INFO]      >>> Column 1 <-- score -0.0001913106149404473 <-- Model xgboost_regressor({'max_depth': 4, 'lr': 0.1})
[2021-12-29T22:49:54.382904+0200][1230602][INFO]      >>> Column 3 <-- score 0.9232576139524215 <-- Model catboost({'depth': 5, 'grow_policy': 0})
[2021-12-29T22:49:56.549337+0200][1230602][INFO]      >>> Column 0 <-- score -0.019341529676655343 <-- Model catboost_regressor({})
[2021-12-29T22:50:27.674505+0200][1230602][INFO]   > BO iter 3
[2021-12-29T22:50:29.622318+0200][1230602][INFO]      >>> Column 1 <-- score -0.00012457574663445864 <-- Model xgboost_regressor({})
[2021-12-29T22:50:31.658170+0200][1230602][INFO]      >>> Column 4 <-- score -0.00015029692652129378 <-- Model xgboost_regressor({})
[2021-12-29T22:50:35.477057+0200][1230602][INFO]      >>> Column 2 <-- score 0.999507241151373 <-- Model catboost({})
[2021-12-29T22:50:38.934412+0200][1230602][INFO]      >>> Column 3 <-- score 0.9303547365705529 <-- Model catboost({})
[2021-12-29T22:50:41.604788+0200][1230602][INFO]      >>> Column 0 <-- score -0.019341529676655343 <-- Model catboost_regressor({})
[2021-12-29T22:51:12.637667+0200][1230602][INFO]   > BO iter 4
[2021-12-29T22:51:17.723193+0200][1230602][INFO]      >>> Column 3 <-- score 0.9303547365705529 <-- Model catboost({})
[2021-12-29T22:51:19.241926+0200][1230602][INFO]      >>> Column 1 <-- score -0.00012457574663445864 <-- Model xgboost_regressor({})
[2021-12-29T22:51:23.102903+0200][1230602][INFO]      >>> Column 2 <-- score 0.999507241151373 <-- Model catboost({})
[2021-12-29T22:51:24.795466+0200][1230602][INFO]      >>> Column 4 <-- score -0.00015029692652129378 <-- Model xgboost_regressor({})
[2021-12-29T22:51:26.621759+0200][1230602][INFO]      >>> Column 0 <-- score -0.018861651537889015 <-- Model catboost_regressor({})
[2021-12-29T22:51:57.926140+0200][1230602][INFO]   > BO iter 0

> evaluation trial  1
  > eval  MNAR 0.3

[2021-12-29T22:52:01.929616+0200][1230602][INFO]      >>> Column 0 <-- score -0.016596744901440846 <-- Model random_forest_regressor({'criterion': 0, 'max_features': 0, 'min_samples_split': 2, 'min_samples_leaf': 2})
[2021-12-29T22:52:06.135245+0200][1230602][INFO]      >>> Column 1 <-- score -0.015857848327026438 <-- Model xgboost_regressor({'max_depth': 3, 'lr': 0.01})
[2021-12-29T22:52:16.590905+0200][1230602][INFO]      >>> Column 2 <-- score 0.959888787843592 <-- Model catboost({'depth': 4, 'grow_policy': 0})
[2021-12-29T22:52:29.048396+0200][1230602][INFO]      >>> Column 3 <-- score 0.8977133910573212 <-- Model catboost({'depth': 5, 'grow_policy': 0})
[2021-12-29T22:52:32.666832+0200][1230602][INFO]      >>> Column 4 <-- score -0.01598776472093104 <-- Model xgboost_regressor({'max_depth': 3, 'lr': 0.1})
[2021-12-29T22:53:00.336390+0200][1230602][INFO]   > BO iter 1
[2021-12-29T22:53:09.562614+0200][1230602][INFO]      >>> Column 3 <-- score 0.9587314276420895 <-- Model catboost({})
[2021-12-29T22:53:13.085680+0200][1230602][INFO]      >>> Column 4 <-- score -1.383507564091531e-05 <-- Model xgboost_regressor({'max_depth': 8, 'lr': 0.01})
[2021-12-29T22:53:17.026295+0200][1230602][INFO]      >>> Column 1 <-- score -9.68259887008208e-05 <-- Model xgboost_regressor({'max_depth': 9, 'lr': 0.1})
[2021-12-29T22:53:25.816974+0200][1230602][INFO]      >>> Column 2 <-- score 0.9994561963439281 <-- Model catboost({'depth': 6, 'grow_policy': 0})
[2021-12-29T22:53:29.543298+0200][1230602][INFO]      >>> Column 0 <-- score -0.013079492988798328 <-- Model catboost_regressor({})
[2021-12-29T22:54:07.702088+0200][1230602][INFO]   > BO iter 2
[2021-12-29T22:54:10.617169+0200][1230602][INFO]      >>> Column 3 <-- score 0.9818391598262561 <-- Model catboost({})
[2021-12-29T22:54:20.818993+0200][1230602][INFO]      >>> Column 2 <-- score 0.9999086173260348 <-- Model catboost({'depth': 5, 'grow_policy': 1})
[2021-12-29T22:54:23.608763+0200][1230602][INFO]      >>> Column 0 <-- score -0.013079492988798328 <-- Model catboost_regressor({})
[2021-12-29T22:54:26.487841+0200][1230602][INFO]      >>> Column 1 <-- score -5.403202721930991e-06 <-- Model xgboost_regressor({})
[2021-12-29T22:54:29.015956+0200][1230602][INFO]      >>> Column 4 <-- score -7.723761129602521e-06 <-- Model xgboost_regressor({})
[2021-12-29T22:54:58.222206+0200][1230602][INFO]   > BO iter 3
[2021-12-29T22:55:04.203737+0200][1230602][INFO]      >>> Column 3 <-- score 0.9827107616009951 <-- Model catboost({})
[2021-12-29T22:55:09.857469+0200][1230602][INFO]      >>> Column 2 <-- score 0.9999975951927903 <-- Model catboost({})
[2021-12-29T22:55:11.849806+0200][1230602][INFO]      >>> Column 4 <-- score -7.723761129602521e-06 <-- Model xgboost_regressor({})
[2021-12-29T22:55:14.217174+0200][1230602][INFO]      >>> Column 0 <-- score -0.013079492988798328 <-- Model catboost_regressor({})
[2021-12-29T22:55:15.611540+0200][1230602][INFO]      >>> Column 1 <-- score -5.403202721930991e-06 <-- Model xgboost_regressor({})
[2021-12-29T22:55:48.129779+0200][1230602][INFO]   > BO iter 4
[2021-12-29T22:55:49.526862+0200][1230602][INFO]      >>> Column 4 <-- score -7.723761129602521e-06 <-- Model xgboost_regressor({})
[2021-12-29T22:55:55.917117+0200][1230602][INFO]      >>> Column 2 <-- score 1.0 <-- Model catboost({})
[2021-12-29T22:55:57.336092+0200][1230602][INFO]      >>> Column 1 <-- score -5.403202721930991e-06 <-- Model xgboost_regressor({})
[2021-12-29T22:55:59.668649+0200][1230602][INFO]      >>> Column 3 <-- score 0.989637251914517 <-- Model catboost({})
[2021-12-29T22:56:00.939840+0200][1230602][INFO]      >>> Column 0 <-- score -0.01262278489345367 <-- Model xgboost_regressor({'max_depth': 4, 'lr': 0.1})
[2021-12-29T22:56:30.658440+0200][1230602][INFO]   > BO iter 0

  > eval  MNAR 0.5

[2021-12-29T22:56:34.832052+0200][1230602][INFO]      >>> Column 0 <-- score -0.023000500859409644 <-- Model random_forest_regressor({'criterion': 0, 'max_features': 1, 'min_samples_split': 10, 'min_samples_leaf': 2})
[2021-12-29T22:56:38.663904+0200][1230602][INFO]      >>> Column 1 <-- score -0.02540047136344101 <-- Model xgboost_regressor({'max_depth': 2, 'lr': 0.1})
[2021-12-29T22:56:47.744598+0200][1230602][INFO]      >>> Column 2 <-- score 0.8826239715662005 <-- Model catboost({})
[2021-12-29T22:56:53.686216+0200][1230602][INFO]      >>> Column 3 <-- score 0.7229325224597529 <-- Model catboost({})
[2021-12-29T22:56:57.702539+0200][1230602][INFO]      >>> Column 4 <-- score -0.03133347596309755 <-- Model random_forest_regressor({'criterion': 0, 'max_features': 2, 'min_samples_split': 10, 'min_samples_leaf': 5})
[2021-12-29T22:57:28.609724+0200][1230602][INFO]   > BO iter 1
[2021-12-29T22:57:38.319429+0200][1230602][INFO]      >>> Column 3 <-- score 0.8651682919528211 <-- Model catboost({'depth': 7, 'grow_policy': 0})
[2021-12-29T22:57:41.595872+0200][1230602][INFO]      >>> Column 0 <-- score -0.014234938142952588 <-- Model catboost_regressor({'depth': 6, 'grow_policy': 0})
[2021-12-29T22:57:46.133614+0200][1230602][INFO]      >>> Column 2 <-- score 0.9850416253744099 <-- Model catboost({'depth': 4, 'grow_policy': 2})
[2021-12-29T22:57:49.604157+0200][1230602][INFO]      >>> Column 4 <-- score -0.002055351903518701 <-- Model catboost_regressor({'depth': 5, 'grow_policy': 1})
[2021-12-29T22:57:53.015824+0200][1230602][INFO]      >>> Column 1 <-- score -0.0012476618313431197 <-- Model xgboost_regressor({'max_depth': 7, 'lr': 0.1})
[2021-12-29T22:58:37.389275+0200][1230602][INFO]   > BO iter 2
[2021-12-29T22:58:39.619482+0200][1230602][INFO]      >>> Column 1 <-- score -0.0007389183820294768 <-- Model xgboost_regressor({})
[2021-12-29T22:58:47.457680+0200][1230602][INFO]      >>> Column 2 <-- score 0.9951766661608374 <-- Model catboost({'depth': 5, 'grow_policy': 0})
[2021-12-29T22:58:49.734972+0200][1230602][INFO]      >>> Column 4 <-- score -0.0003571809435800219 <-- Model catboost_regressor({'depth': 4, 'grow_policy': 2})
[2021-12-29T22:58:57.054974+0200][1230602][INFO]      >>> Column 3 <-- score 0.9335537604807161 <-- Model catboost({'depth': 6, 'grow_policy': 0})
[2021-12-29T22:58:59.436634+0200][1230602][INFO]      >>> Column 0 <-- score -0.014234938142952588 <-- Model catboost_regressor({'depth': 6, 'grow_policy': 0})
[2021-12-29T22:59:40.925799+0200][1230602][INFO]   > BO iter 3
[2021-12-29T22:59:42.763948+0200][1230602][INFO]      >>> Column 4 <-- score -0.0003571809435800219 <-- Model catboost_regressor({'depth': 4, 'grow_policy': 2})
[2021-12-29T22:59:45.018048+0200][1230602][INFO]      >>> Column 1 <-- score -0.00035490769029915275 <-- Model catboost_regressor({'depth': 7, 'grow_policy': 2})
[2021-12-29T22:59:48.228477+0200][1230602][INFO]      >>> Column 3 <-- score 0.9335537604807161 <-- Model catboost({'depth': 6, 'grow_policy': 0})
[2021-12-29T22:59:50.926943+0200][1230602][INFO]      >>> Column 0 <-- score -0.014234938142952588 <-- Model catboost_regressor({'depth': 6, 'grow_policy': 0})
[2021-12-29T22:59:57.734210+0200][1230602][INFO]      >>> Column 2 <-- score 0.9985717752292902 <-- Model catboost({})
[2021-12-29T23:00:46.093001+0200][1230602][INFO]   > BO iter 4
[2021-12-29T23:00:47.781334+0200][1230602][INFO]      >>> Column 1 <-- score -0.00035490769029915275 <-- Model catboost_regressor({'depth': 7, 'grow_policy': 2})
[2021-12-29T23:00:49.296169+0200][1230602][INFO]      >>> Column 4 <-- score -0.0003571809435800219 <-- Model catboost_regressor({'depth': 4, 'grow_policy': 2})
[2021-12-29T23:00:54.295400+0200][1230602][INFO]      >>> Column 2 <-- score 0.9985717752292902 <-- Model catboost({})
[2021-12-29T23:00:55.217463+0200][1230602][INFO]      >>> Column 0 <-- score -0.014234938142952588 <-- Model catboost_regressor({'depth': 6, 'grow_policy': 0})
[2021-12-29T23:00:57.129433+0200][1230602][INFO]      >>> Column 3 <-- score 0.9335537604807161 <-- Model catboost({'depth': 6, 'grow_policy': 0})

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

# Datasets

In [4]:
import hyperimpute.logger as log

log.remove()

|           Dataset          |  Size |
|:--------------------------:|:-----:|
|     airfoil self noise     |  1503 |
|     blood transfusion      |  748  |
|  breast cancer diagnostic  |  569  |
|         california         | 20640 |
|   climate model crashes    |  540  |
|    concrete compression    |  1030 |
|       concrete slump       |  103  |
| connectionist bench sonar  |  208  |
|  connectionist bench vowel |  990  |
|            iris            |  150  |
|      wine quality red      |  1599 |
|     wine quality white     |  4899 |
|            yeast           |  1484 |

## Dataset: UCI Airfoil Self-Noise Data Set

https://archive.ics.uci.edu/ml/datasets/airfoil+self-noise

In [5]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00291/airfoil_self_noise.dat', header = None, sep ="\\t")

df

         0     1       2     3         4        5
0      800   0.0  0.3048  71.3  0.002663  126.201
1     1000   0.0  0.3048  71.3  0.002663  125.201
2     1250   0.0  0.3048  71.3  0.002663  125.951
3     1600   0.0  0.3048  71.3  0.002663  127.591
4     2000   0.0  0.3048  71.3  0.002663  127.461
...    ...   ...     ...   ...       ...      ...
1498  2500  15.6  0.1016  39.6  0.052849  110.264
1499  3150  15.6  0.1016  39.6  0.052849  109.254
1500  4000  15.6  0.1016  39.6  0.052849  106.604
1501  5000  15.6  0.1016  39.6  0.052849  106.224
1502  6300  15.6  0.1016  39.6  0.052849  104.204

[1503 rows x 6 columns]

In [6]:
df.describe()

,0,1,2,3,4,5
count,1503.000000,1503.000000,1503.000000,1503.000000,1503.000000,1503.000000
mean,2886.380572,6.782302,0.136548,50.860745,0.011140,124.835943
std,3152.573137,5.918128,0.093541,15.572784,0.013150,6.898657
min,200.000000,0.000000,0.025400,31.700000,0.000401,103.380000
25%,800.000000,2.000000,0.050800,39.600000,0.002535,120.191000
50%,1600.000000,5.400000,0.101600,39.600000,0.004957,125.721000
75%,4000.000000,9.900000,0.228600,71.300000,0.015576,129.995500
max,20000.000000,22.200000,0.304800,71.300000,0.058411,140.987000

In [7]:
last_col = df.columns[-1]
y = df[last_col]
X_raw = df.drop(columns = [last_col])

evaluate_dataset_repeated("airfoil", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Dataset: UCI Blood Transfusion Service Center Data Set

https://archive.ics.uci.edu/ml/machine-learning-databases/blood-transfusion/transfusion.data

In [8]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/blood-transfusion/transfusion.data')

df

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
...,...,...,...,...,...
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [9]:
df.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [10]:
last_col = df.columns[-1]
y = df[last_col]
X_raw = df.drop(columns = [last_col])

evaluate_dataset_repeated("blood", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Dataset: Breast Cancer Wisconsin (Diagnostic)

https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic)

In [11]:
from sklearn.datasets import load_breast_cancer

X_raw, y = load_breast_cancer(as_frame = True, return_X_y = True)

X_raw

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [12]:
X_raw.describe()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,0.062798,...,16.269190,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,0.007060,...,4.833242,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,7.930000,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,0.057700,...,13.010000,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460
50%,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,0.061540,...,14.970000,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040
75%,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,0.066120,...,18.790000,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,36.040000,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500

In [13]:
evaluate_dataset_repeated("bc", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Dataset: California Housing

In [14]:
from sklearn.datasets import fetch_california_housing

X_raw, y = fetch_california_housing(as_frame = True, return_X_y = True)

X_raw

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [15]:
X_raw.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [16]:
evaluate_dataset_repeated("california", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

# Dataset: Climate Model Simulation Crashes
https://archive.ics.uci.edu/ml/datasets/climate+model+simulation+crashes

In [17]:
samples = np.loadtxt("https://archive.ics.uci.edu/ml/machine-learning-databases/00252/pop_failures.dat", skiprows=1)
df = pd.DataFrame(samples)

df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1.0,1.0,0.859036,0.927825,0.252866,0.298838,0.170521,0.735936,0.428325,0.567947,...,0.245675,0.104226,0.869091,0.997518,0.448620,0.307522,0.858310,0.796997,0.869893,0.0
1,1.0,2.0,0.606041,0.457728,0.359448,0.306957,0.843331,0.934851,0.444572,0.828015,...,0.616870,0.975786,0.914344,0.845247,0.864152,0.346713,0.356573,0.438447,0.512256,1.0
2,1.0,3.0,0.997600,0.373238,0.517399,0.504993,0.618903,0.605571,0.746225,0.195928,...,0.679355,0.803413,0.643995,0.718441,0.924775,0.315371,0.250642,0.285636,0.365858,1.0
3,1.0,4.0,0.783408,0.104055,0.197533,0.421837,0.742056,0.490828,0.005525,0.392123,...,0.471463,0.597879,0.761659,0.362751,0.912819,0.977971,0.845921,0.699431,0.475987,1.0
4,1.0,5.0,0.406250,0.513199,0.061812,0.635837,0.844798,0.441502,0.191926,0.487546,...,0.551543,0.743877,0.312349,0.650223,0.522261,0.043545,0.376660,0.280098,0.132283,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,3.0,176.0,0.657136,0.489375,0.133713,0.411950,0.087780,0.356289,0.480204,0.029678,...,0.280546,0.384117,0.885948,0.768482,0.459479,0.334482,0.573002,0.610183,0.737706,1.0
536,3.0,177.0,0.915894,0.842720,0.518947,0.090622,0.336981,0.893576,0.978703,0.674868,...,0.798108,0.353546,0.044796,0.990900,0.347027,0.512499,0.810549,0.593332,0.142565,0.0
537,3.0,178.0,0.478600,0.941185,0.769245,0.950776,0.189406,0.112743,0.745645,0.527096,...,0.193103,0.829563,0.101506,0.548878,0.381966,0.198811,0.867108,0.461632,0.652817,1.0
538,3.0,179.0,0.007793,0.779287,0.867468,0.704820,0.983282,0.420303,0.710612,0.174746,...,0.761134,0.436714,0.690132,0.825133,0.981656,0.113193,0.364799,0.201469,0.536535,1.0
539,3.0,180.0,0.608075,0.031556,0.598264,0.794771,0.145680,0.378183,0.461948,0.425291,...,0.480938,0.307816,0.231638,0.464152,0.583558,0.969365,0.464331,0.760344,0.762439,1.0

In [18]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
count,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,...,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000
mean,2.000000,90.500000,0.500026,0.500097,0.500027,0.500119,0.500001,0.499913,0.500059,0.500076,...,0.500111,0.499984,0.500032,0.499933,0.499944,0.499946,0.500044,0.500020,0.500021,0.914815
std,0.817254,52.008901,0.288939,0.288922,0.289067,0.288993,0.288827,0.288852,0.289010,0.288909,...,0.288966,0.289127,0.289014,0.288822,0.288949,0.288923,0.288813,0.288936,0.289013,0.279416
min,1.000000,1.000000,0.000414,0.001922,0.001181,0.001972,0.000858,0.000476,0.004590,0.000296,...,0.002015,0.000419,0.001188,0.001312,0.002509,0.000732,0.000891,0.000219,0.000263,0.000000
25%,1.000000,45.750000,0.249650,0.251597,0.251540,0.250158,0.250630,0.251325,0.253048,0.250402,...,0.250758,0.251676,0.249669,0.249988,0.249586,0.249974,0.250412,0.252739,0.249723,1.000000
50%,2.000000,90.500000,0.499998,0.499595,0.500104,0.500456,0.500903,0.499174,0.499070,0.500074,...,0.500393,0.500322,0.500151,0.500625,0.499080,0.499959,0.500384,0.498955,0.499431,1.000000
75%,3.000000,135.250000,0.750042,0.750011,0.749180,0.750348,0.748988,0.748166,0.750109,0.749091,...,0.749447,0.749346,0.749164,0.749569,0.750012,0.747978,0.749256,0.748539,0.749792,1.000000
max,3.000000,180.000000,0.999194,0.998815,0.998263,0.997673,0.998944,0.997142,0.998930,0.998506,...,0.999536,0.999942,0.997718,0.997518,0.999795,0.999155,0.997265,0.999306,0.999655,1.000000

In [19]:
last_col = df.columns[-1]
y = df[last_col]
X_raw = df.drop(columns = [last_col])

evaluate_dataset_repeated("climate_model", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Concrete Compressive Strength Data Set
https://archive.ics.uci.edu/ml/datasets/concrete+compressive+strength

In [20]:
df = pd.read_excel("https://archive.ics.uci.edu/ml/machine-learning-databases/concrete/compressive/Concrete_Data.xls")

df

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [21]:
df.describe()

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225

In [22]:
last_col = df.columns[-1]
y = df[last_col]
X_raw = df.drop(columns = [last_col])

evaluate_dataset_repeated("concrete_compressive", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Concrete Slump Test Data Set

https://archive.ics.uci.edu/ml/datasets/concrete+slump+test

In [23]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/concrete/slump/slump_test.data")

df

,No,Cement,Slag,Fly ash,Water,SP,Coarse Aggr.,Fine Aggr.,SLUMP(cm),FLOW(cm),Compressive Strength (28-day)(Mpa)
0,1,273.0,82.0,105.0,210.0,9.0,904.0,680.0,23.0,62.0,34.99
1,2,163.0,149.0,191.0,180.0,12.0,843.0,746.0,0.0,20.0,41.14
2,3,162.0,148.0,191.0,179.0,16.0,840.0,743.0,1.0,20.0,41.81
3,4,162.0,148.0,190.0,179.0,19.0,838.0,741.0,3.0,21.5,42.08
4,5,154.0,112.0,144.0,220.0,10.0,923.0,658.0,20.0,64.0,26.82
...,...,...,...,...,...,...,...,...,...,...,...
98,99,248.3,101.0,239.1,168.9,7.7,954.2,640.6,0.0,20.0,49.97
99,100,248.0,101.0,239.9,169.1,7.7,949.9,644.1,2.0,20.0,50.23
100,101,258.8,88.0,239.6,175.3,7.6,938.9,646.0,0.0,20.0,50.50
101,102,297.1,40.9,239.9,194.0,7.5,908.9,651.8,27.5,67.0,49.17
102,103,348.7,0.1,223.1,208.5,9.6,786.2,758.1,29.0,78.0,48.77

In [24]:
df.describe()

,No,Cement,Slag,Fly ash,Water,SP,Coarse Aggr.,Fine Aggr.,SLUMP(cm),FLOW(cm),Compressive Strength (28-day)(Mpa)
count,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.00000,103.000000
mean,52.000000,229.894175,77.973786,149.014563,197.167961,8.539806,883.978641,739.604854,18.048544,49.61068,36.039417
std,29.877528,78.877230,60.461363,85.418080,20.208158,2.807530,88.391393,63.342117,8.750844,17.56861,7.838232
min,1.000000,137.000000,0.000000,0.000000,160.000000,4.400000,708.000000,640.600000,0.000000,20.00000,17.190000
25%,26.500000,152.000000,0.050000,115.500000,180.000000,6.000000,819.500000,684.500000,14.500000,38.50000,30.900000
50%,52.000000,248.000000,100.000000,164.000000,196.000000,8.000000,879.000000,742.700000,21.500000,54.00000,35.520000
75%,77.500000,303.900000,125.000000,235.950000,209.500000,10.000000,952.800000,788.000000,24.000000,63.75000,41.205000
max,103.000000,374.000000,193.000000,260.000000,240.000000,19.000000,1049.900000,902.000000,29.000000,78.00000,58.530000

In [25]:
last_col = df.columns[-1]
y = df[last_col]
X_raw = df.drop(columns = ["No", last_col])

evaluate_dataset_repeated("climate_model", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Connectionist Bench (Sonar, Mines vs. Rocks) Data Set

https://archive.ics.uci.edu/ml/datasets/connectionist+bench+(sonar,+mines+vs.+rocks)

In [26]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/undocumented/connectionist-bench/sonar/sonar.all-data", header = None)

df

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,0.0187,0.0346,0.0168,0.0177,0.0393,0.1630,0.2028,0.1694,0.2328,0.2684,...,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157,M
204,0.0323,0.0101,0.0298,0.0564,0.0760,0.0958,0.0990,0.1018,0.1030,0.2154,...,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067,M
205,0.0522,0.0437,0.0180,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.0160,0.0029,0.0051,0.0062,0.0089,0.0140,0.0138,0.0077,0.0031,M
206,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048,M
207,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115,M

In [27]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [28]:
last_col = df.columns[-1]
y = (df[last_col] == 'M').astype(int)
X_raw = df.drop(columns = [last_col])

evaluate_dataset_repeated("connectionist_sonar", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Wine-Red dataset

In [30]:
# Wine Quality Data Set

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep = ';')

df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [31]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [32]:
last_col = df.columns[-1]

y = df[last_col]
mapped_labels = sorted(y.unique())
mapping = {}
for idx, label in enumerate(mapped_labels):
    mapping[label] = idx
y = y.map(mapping)       

X_raw = df.drop(columns = [last_col])

evaluate_dataset_repeated("wine_red", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Wine-White dataset

In [33]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv", sep = ';')

df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [34]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [35]:
last_col = df.columns[-1]

y = df[last_col]
mapped_labels = sorted(y.unique())
mapping = {}
for idx, label in enumerate(mapped_labels):
    mapping[label] = idx
y = y.map(mapping)  

X_raw = df.drop(columns = [last_col])

evaluate_dataset_repeated("wine_white", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Yeast Data Set

In [36]:
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/yeast/yeast.data",sep="\s+", header = None)

df = df.drop(columns = [0])

for col in [9]:
    df[col] = LabelEncoder().fit_transform(df[col])

df

         1     2     3     4    5    6     7     8  9
0     0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22  6
1     0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  6
2     0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  6
3     0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  7
4     0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  6
...    ...   ...   ...   ...  ...  ...   ...   ... ..
1479  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22  4
1480  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47  7
1481  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22  4
1482  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39  7
1483  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22  0

[1484 rows x 9 columns]

In [37]:
df.describe()

,1,2,3,4,5,6,7,8,9
count,1484.000000,1484.000000,1484.000000,1484.000000,1484.000000,1484.000000,1484.000000,1484.000000,1484.000000
mean,0.500121,0.499933,0.500034,0.261186,0.504717,0.007500,0.499885,0.276199,4.126011
std,0.137299,0.123924,0.086670,0.137098,0.048351,0.075683,0.057797,0.106491,3.037575
min,0.110000,0.130000,0.210000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000
25%,0.410000,0.420000,0.460000,0.170000,0.500000,0.000000,0.480000,0.220000,0.000000
50%,0.490000,0.490000,0.510000,0.220000,0.500000,0.000000,0.510000,0.220000,5.000000
75%,0.580000,0.570000,0.550000,0.320000,0.500000,0.000000,0.530000,0.300000,7.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,0.830000,0.730000,1.000000,9.000000

In [38]:
last_col = df.columns[-1]
y = df[last_col]
X_raw = df.drop(columns = [last_col])

evaluate_dataset_repeated("yeast", X_raw, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Diabetes

In [39]:
from sklearn.datasets import load_diabetes

X, y = load_diabetes(as_frame = True, return_X_y = True)

X

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [40]:
X.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02
mean,-3.639623e-16,1.309912e-16,-8.013951e-16,1.289818e-16,-9.042540e-17,1.301121e-16,-4.563971e-16,3.863174e-16,-3.848103e-16,-3.398488e-16
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01

In [41]:
evaluate_dataset_repeated("diabetes", X, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

## Iris

In [42]:
from sklearn.datasets import load_iris

X, y = load_iris(as_frame = True, return_X_y = True)

X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [43]:
X.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [44]:
evaluate_dataset_repeated("iris", X, y)

RMSE score

==========================================================

Wasserstein score

==========================================================

Downstream model prediction error

# Conclusion